button.styled {
    --bg: var(--mc-2);
    --fg: var(--white);
    --bd: var(--mc-3);

    --hv-bd: var(--mc-4);
    --hv-bg: var(--bg);
    --hv-fg: var(--fg);

    --av-bd: var(--mc-3);
    --av-bg: var(--mc-3);
    --av-fg: var(--mc-1);

    background-color: var(--bg);
    border: 2px solid var(--bd);
    color: var(--fg);
    border-radius: var(--radius);
    font-size: 18px;
    /* font-family: 'Zan'; */
    cursor: pointer;
    padding: 0.25rem;
    transition: 220ms ease-in-out;
    transition-property: border-color, background-color, color;

    &.icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 32px;
        height: 32px;
        border: 0;
    }

    &.trash,
    &.remove {
        --bd: var(--red);
        --hv-bg: var(--red);
        --hv-bd: var(--red);
        --av-bg: var(--red);
        --av-bd: var(--red);
    }

    &:hover {
        border-color: var(--hv-bd);
        background-color: var(--hv-bg);
        color: var(--hv-fg);
    }

    &:not(&.icon):active {
        border-color: var(--av-bd);
        background-color: var(--av-bg);
        color: var(--av-fg);
    }

    &:focus {
        outline: 0;
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.6;
        border: 2px solid var(--mc-2);
        background-color: var(--mc-1);
        color: var(--white);
        outline: 0;
        cursor: default;
    }
}
