@use 'button';
@use 'input';
@use 'fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color-scheme: dark;
    background-color: var(--mc-1);
    color: var(--white);

    font-family: var(--en-1), sans-serif;
    font-weight: 400;

    width: 100%;
    height: 100vh;
    overflow: hidden;

    .root,
    .root main {
        width: 100%;
        height: 100%;
    }

    svg {
        width: 24px;
        height: 24px;
    }

    code {
        // background-color: var(--slate-1);
        background-color: var(--mc-1);
        padding: 0.1rem 0.2rem;
        border-radius: var(--radius);
        font-size: 16px;
    }

    a {
        color: var(--mc-url);
        text-decoration: none;
    }

    img {
        user-select: none;
    }

    label {
        user-select: none;
    }
}

:root {
    --radius: 0.25rem;

    --en-1: 'Jakarta';

    --white: #f2f2f2;
    --black: #040404;
    --red: #e20338;
    --blue: #51eaff;
    --green: #00dc7d;
    --yellow: #ffd600;

    --mc-1: #0a0a0a;
    --mc-2: #151515;
    --mc-3: #fbc403;
    --mc-4: #ffdd03;

    /* --mc-1: #141414; */
    /* --mc-2: #2b2b2b; */
    /* --mc-3: #cf7500; */
    /* --mc-4: #e3b04b; */

    --mc-url: var(--mc-4);

    --scroll-bg: var(--mc-1);
    --scorll-fg: var(--mc-2);
    --scorll-hover: var(--mc-3);
    --scorll-active: var(--mc-4);

    --selection-fg: var(--black);
    --selection-bg: var(--white);

    /* --fg-1: #494a4c; */
    /* --fg-2: #50a7ea; */
    /* --fg-3: #dab475; */
    /* --bg-1: #040404; */
    /* --bg-2: #040404; */
    /* --bg-3: #555555; */

    // --fg-1: #494a4c;
    // --fg-2: #d9af65;
    // --fg-3: #dab475;
    // --bg-1: #1c1c1c;
    // --bg-2: #333333;
    // --bg-3: #555555;
    // --bg-2: #131862;
    // --bg-3: #2e4482;
    // --bg-4: #546bab;
    // --bg-5: #87889c;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: var(--scroll-bg);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid var(--scroll-bg);
    background-color: var(--scorll-fg);

    &:hover {
        background-color: var(--scorll-hover);
    }

    &:active {
        background-color: var(--scorll-active);
    }
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-fg);
}
