input.styled {
    background-color: var(--mc-1);
    border: 2px solid var(--mc-3);
    font-size: 18px;
    border-radius: var(--radius);
    padding: 0.25rem;
    color: var(--white);

    &:focus {
        border-color: var(--mc-4);
        outline: 0;
    }
}

textarea.styled {
    background-color: var(--mc-1);
    border: 2px solid var(--mc-3);
    font-size: 18px;
    border-radius: var(--radius);
    padding: 0.25rem;
    color: var(--white);

    &:focus {
        border-color: var(--mc-4);
        outline: 0;
    }
}
